
/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;

}

[class*='colleft-'] {
  padding-right: 20px;
  padding-bottom: 200px;

}
[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='colleft-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 40px;
}
.col-1-4 {
  width: 15%;
}

.colleft-1-4 {
  width: 15%;
}
.module {
  text-align: center;
  color: #eee;
  max-height: 150px;
  min-width: 250px;
  border-radius: 2px;
}

.moduleleft {
  text-align: center;
  color: #eee;
  max-height: 150px;
  min-width: 150px;
  border-radius: 2px;
  width: 250px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}

.moduleleft:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding-bottom: 80px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.grid-padleft {
  padding: 40px 0;
}
.grid-padleft > [class*='col-']:last-of-type {
  padding-right: 20px;
}

.occupied {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


.empty {
  background-color: rgb(77, 78, 77); /* Green */
  border: none;
  color: white;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.tp-margin {
  margin: 30px;
}